<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyDiaryApp</title>
</head>
<body>

{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1>Create Diary</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>{{ form.date.label }}</label>
            {{ form.date | add_class:'form-control col-2' }}
        </div>
        <div class="form-group">
            <label>{{ form.title.label }}</label>
            {{ form.title | add_class:'form-control col-2' }}
        </div>
        <div class="form-group">
            <label>{{ form.text.label }}</label>
            {{ form.text | add_class:'form-control col-2' }}
        </div>
        <button type="submit" class="form-control col-1">Post</button>
    </form>
{% endblock %}

</body>
</html>